@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,700');
.body{
	background-color: #fff;
font-family: 'Lato', sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family: 'Lato', sans-serif;}
.img-circle{
	margin-top: 10px;
	border-radius: 130px;
	width:150px;
	height:150px;
}

.presentacion{
	text-align: center;
	background-color: #0C3F8A;

}
.presentacion h1{

	color: #fff;
	font-family: 'Lato', light;
	font-size: 17px;
}
.presentacion h2{

    color: #fff;
    font-family: 'Lato', thin;
	font-size: 12px;
}
.experiencia{
	padding-bottom: 1em;
	background-color: #fff;
	margin-top: 2.60em;
}

.presentacion h3{

	color: #fff;
	font-family: 'Lato', light;
	font-size: 14px;
}
ul{
	color: #fff;
	text-align: left;
	font-size: 12px;
	font-family: 'Lato', thin;
	list-style-position: outside

}

.vineta{
	list-style-image: url("../img/vineta-01-01.png") !important;
	
}

.vineta li a{
	color: #fff;
	text-decoration: none;
}
.vineta li a :hover{
	
	text-decoration: none;
}
.experiencia h1{
	text-align: center;
	font-family: 'Lato', light;
	font-size: 17px;
	color: #211915;
}
.experiencie{
	list-style-image: url("../img/vineta-02.png") !important;
	color: #9A9BA1;
	font-size: 12px;
	font-family: 'Lato', thin;
	
 
}
.experiencie ul{
	list-style-image: url("../img/vineta-02.png") !important;}


li {
    margin: 12px;
}

 .exprerience li a {
	text-decoration: none;
	color: #85898d;
}

.experiencia .experiencie li a :hover{
	text-decoration: none;
	color: #85898d;
}
.experiencie ol
{
	list-style-image: none !important;
}
.portafolio{
	padding-right: 1em;
	padding-left: 1em;
	margin-right: 0.10em;

}
.contact{
	background-color: #d4d4d4;
}
.contact ul {
	list-style:none;
	text-align: center;
	font-size: 18px;
	padding-left: 0;


}
.contact ul li {
	display:inline-block;
	position: relative;

}
.contact ul li :hover {

	color: #0c3356;
	text-decoration: none;
	}

.btn-lg{

	border-color: none;
}
.btn-lg :hover{

	border-color: none;
}

.skill {
	
	margin-bottom: 1em;
}
.skillmain{
	background-color: #0C3F8A;
	margin-top: 3em;
}
.skill span {
	font-size: 20px;
	color: #fff;
}
.progress-bar{

	background-color: #9AB338;
}

.true{
	background-color: #0C3F8A;
	margin-right: 0;
    margin-left: 0;
}
.adobe{
	padding-left: 10px;
	padding-right: 10px;
}

.btn {
    padding: 6px 0px;
}
.btn-primary {
    color: #337ab7;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;

}
.btn-primary:hover {
    color: #0c3356;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;

}


.btn-primary.active, .btn-primary:active,.btn-primary:focus{
    color: #337ab7;
    font-size: 20px;
    background-color: transparent !important;
    border-color: transparent !important;

}
.presentacion .beha a img{
 	text-align: center;
 	margin-top: 1em;

 }
@media (min-width: 768px) {

 .beha{
 	display: none;
 	
 	
 }
 .beha a img{
 	text-align: center;

 }

}

@media (max-width: 768px) {


.port{
	display: none;
	font-size: 17px;
}
}
